h1{
    color:rgb(65, 24, 24);
    font-size:80px;
    text-shadow: 2px 2px 8px #ff006a;
}
.button1{
    height:40px;
    width:120px;
    border:0px white;
    border-radius:10px;
    background-color:rgb(0, 255, 68);
    font-size: 18px;
}
.box{
    border:3px solid rgb(0, 0, 0);
    color:rgb(255, 0, 0);
    height:230px;
    width: 100px;
    background-color:rgba(87, 177, 255, 0.523);
    opacity:initial;
    font-weight: bolder;
    width:550px;
    border-radius:15px;
    border-color:rgb(0, 0, 0);
}
